<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-button [routerLink]="'/menu-inicio'" expand="undefined">Volver</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>
        <h1>Registro de Proveedores</h1>
      </ion-label>
    </ion-item>

    <form [formGroup]="formularioProveedor">
      <ion-item>
        <ion-input
          formControlName="nombreProveedor"
          label="Nombre Proveedor"
          label-placement="floating"
          fill="outline"
          placeholder="Identifique al Proveedor">
        </ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input
          formControlName="patenteVehiculo"
          label="Patente de vehículo"
          label-placement="floating"
          fill="outline"
          placeholder="Ingrese Patente de vehículo">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label>
          <h1>Salida:</h1>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-datetime
          formControlName="fechaSalida"
          presentation="date"
          [preferWheel]="true">
        </ion-datetime>
      </ion-item>
      
      <ion-item>
        <ion-datetime
          formControlName="horaSalida"
          presentation="time">
        </ion-datetime>
      </ion-item>

  <h3>Salida:</h3>
  <ion-datetime presentation="date-time" [preferWheel]="true"></ion-datetime>
  <ion-datetime presentation="time"></ion-datetime>

<h3>Observaciones:</h3>
  <ion-textarea
  placeholder="Opcional"
  [clearOnEdit]="true"
></ion-textarea>

</ion-list>
<hr>

<ion-button href="./salida-exitoso" expand="block">GUARDAR</ion-button>