<ion-list>
  <ion-item>
    <ion-button href="./seguridad" expand="undefined">Volver</ion-button>
  </ion-item>

  <h1>Notificación de seguridad enviada</h1>
  <hr>
  <ion-label>Se ha enviado a las unidades de seguridad
    su mensaje, será atendido a la brevedad
  </ion-label>

<ion-button href="./emergencia" expand="block" color="danger">EMERGENCIA</ion-button>
<hr>
<ion-label><i>*Se alertará a todas las unidades para que atiendan su emergencia</i></ion-label>
<!-- <ion-button fill="clear">Action 2</ion-button> -->

</ion-list> 