<ion-list>
  <ion-item>
    <ion-button href="./prov-salida" expand="undefined">Volver</ion-button>
  </ion-item>

  <h1>Registro de Salida Exitoso</h1>

  <ion-item>
      <ion-img
      src="https://e7.pngegg.com/pngimages/335/839/png-clipart-computer-icons-exit-miscellaneous-purple.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>
  </ion-item>

<ion-button href="./menu-inicio" expand="block">Volver al menú</ion-button>
<!-- <ion-button fill="clear">Action 2</ion-button> -->

</ion-list>
