

<ion-card>
  <ion-card-header>
    <ion-card-title>Registro Movimiento</ion-card-title>
    <ion-card-subtitle>
      
      <ion-img
      src="https://e7.pngegg.com/pngimages/335/839/png-clipart-computer-icons-exit-miscellaneous-purple.png"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>

    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content color="secondary">
    ¡Registro de salida exitoso!
  </ion-card-content>

  <ion-button fill="clear">Volver al menú</ion-button>
  <!-- <ion-button fill="clear">Action 2</ion-button> -->
</ion-card>