<ion-toolbar>
  <ion-title size="large">Registros</ion-title>
</ion-toolbar>

  <ion-card-content>
    <ion-button href="./prov-ingreso" expand="block" color="success">Ingreso</ion-button> 

    <hr>

    <ion-button href="./prov-salida" expand="block" color="warning">Salida</ion-button> 

    <hr>

    <ion-button href="./seguridad" expand="block" color="tertiary">Seguridad</ion-button> 
  </ion-card-content>

<hr>

<ion-button fill="outline" expand="full" color="danger" (click)="salir()">Cerrar Sesión</ion-button>

