<ion-list>
    <ion-item>
      <ion-button href="./prov-ingreso" expand="undefined">Volver</ion-button>
    </ion-item>

    <h1>Registro de Ingreso Exitoso</h1>

    <ion-item>
        <ion-img
        src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-check-mark-icon-design-template-vector-isolated-png-image_4085369.jpg"
        alt="The Wisconsin State Capitol building in Madison, WI at night"
      ></ion-img>
    </ion-item>

  
  <ion-item>
    <ion-button [routerLink]="['/menu-inicio']" expand="block">Volver al menú</ion-button>
  </ion-item>

  <ion-item>
    <ion-button [routerLink]="['/listado-ingresos']" expand="block">Ver Movimientos registrados</ion-button>
  </ion-item>

</ion-list>