

<ion-card>
  <ion-card-header>
    <ion-card-title>Registro Movimiento</ion-card-title>
    <ion-card-subtitle>
      
      <ion-img
      src="https://png.pngtree.com/png-clipart/20190516/original/pngtree-check-mark-icon-design-template-vector-isolated-png-image_4085369.jpg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"
    ></ion-img>

    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content color="secondary">
    ¡Registro de ingreso exitoso!
  </ion-card-content>

  <ion-button fill="clear">Volver al menú</ion-button>
  <!-- <ion-button fill="clear">Action 2</ion-button> -->
</ion-card>