<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Listado de Salidas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let salida of salidas">
      <ion-label>
        <p>Proveedor: {{ salida.nombreProveedor }}</p>
        <p>Patente Vehículo: {{ salida.patenteVehiculo }}</p>
        <p>Fecha de Salida: {{ salida.fechaSalida }}</p>
        <p>Hora de Salida: {{ salida.horaSalida }}</p>
        <p>Observaciones: {{ salida.observaciones }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-item>
  <ion-button [routerLink]="['/menu-inicio']" expand="block">Volver al menú</ion-button>
</ion-item>
