<ion-list>
  <ion-content>
    <ion-item>
      <ion-button href="./Seguridad" expand="undefined">Volver</ion-button>
    </ion-item>
  
    <h1>Emergencia</h1>
  
    <ion-card-content>
      <ion-button href="./seguridad" expand="block" color="tertiary">Volver</ion-button> 
      
      <ion-card-content>
        <ion-button href="./seguridad" expand="block" color="warning">Cancelar</ion-button> 
      </ion-card-content>
        <ion-button href="./menu-inicio" fill="clear">Volver al menú</ion-button>
    
    </ion-card-content>
  </ion-content>
</ion-list>

