<ion-list>
    <ion-item>
      <ion-button href="./menu-inicio" expand="undefined">Volver</ion-button>
    </ion-item>

  <ion-card-content>

      <h1>Seguridad</h1>

        <ion-textarea
        placeholder="Escribe tu mensaje"
        [clearOnEdit]="true"
        ></ion-textarea>

        <hr>

        <ion-button href="./noti-exitosa" expand="block" color="success">NOTIFICAR</ion-button> 

         <hr>

        <ion-button href="./emergencia" expand="block" color="danger">EMERGENCIA</ion-button> 

         <hr>

      <ion-label><i>*Se alertará a todas las unidades para que atiendan su emergencia</i></ion-label>

  </ion-card-content>

</ion-list>
