<ion-list>
    <ion-item>
      <ion-button href="./menu-inicio" expand="undefined">Volver</ion-button>
    </ion-item>

    <h1>Registro de 
    Proveedores</h1>
    
    <ion-card-content>
      <ion-button href="./noti-exitosa" expand="block" color="success">NOTIFICAR</ion-button> 

      <hr>

      <ion-button href="./emergencia" expand="block" color="warning">EMERGENCIA</ion-button> 

      <hr>

      <ion-button href="./menu-inicio" expand="block">Volver al menú</ion-button>
    </ion-card-content>

</ion-list>
